<div class="row d-flex">
  <div class="col-sm-3 col-sm-offset-3">
    <form action="/login" method="POST">
      <legend>Login</legend>
      <div class="form-group">
        <label for="post-title">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="user-username"
          placeholder="janedoe@gmail.com"
        />
      </div>
      {{!-- Password form --}}
      <div class="form-group mt-2">
        <label for="post-url">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="user-password"
        />
      </div>
      <button class="btn btn-primary mt-4">Login</button>
    </form>
  </div>
</div>