<div class="row">
  <div class="col-sm-3 col-sm-offset-3">
    <form action="/sign-up" method="GET">
      <legend>Sign Up</legend>
      <div class="form-group">
        <label for="post-title">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="user-email"
          placeholder="janedoe@gmail.com"
        />
      </div>
      {{!-- Password form --}}
      <div class="form-group mt-2">
        <label for="post-url">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="user-password"
        />
      </div>
    </form>
  </div>
</div>